// colors
$primary: #252160;
$secondary: #3affe5;
$gray: #7b7b7b;

// fonts
$dmsans: "DM Sans", sans-serif;
$fredoka: "Fredoka One", cursive;
$inter: "Inter", sans-serif;
$nunito: "Nunito", sans-serif;
